body{
             background-color: DeepSkyBlue;
             animation-name: theThings;
             animation-duration: 10s;
             animation-iteration-count: infinite;
             animation-delay: 2s;
        }
        
        @keyframes theThings{
          0% {background-color: DeepSkyBlue;}
          25% {background-color: RebeccaPurple;}
          50% {background-color: Crimson;}
          75% {background-color: cyan;}
          100% {background-color: red;}
          125% {background-color: DeepSkyBlue;}
        }
        li{
          text-align: left;
        }
        p{
          text-align: center;
        }
        h2{
          text-align: Center;
        }
        ul{
          text-align: left;
        }
        
          .rotate45 {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             transform: rotate(45deg);
          }
          #right{
            display: block;
            margin-right: auto;
            }
        h1{
          text-align: center; 
        }
        #center{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
         
          
